<div class="modal-header">
  <h1>Challenge for today</h1>
</div>
<div class="modal-body">
  <div ng-if="!mode">
    <h5>{{ item.title }}</h5>
    <p>{{ item.Description }}</p>
  </div>
  <form ng-if="mode" class="modal-form">
    <label>
      <input
        type="text"
        placeholder="Title"
        ng-model="addedItem.title"
        required
      />
    </label>
    <label>
      <textarea
        cols="30"
        rows="10"
        placeholder="New Challenge"
        ng-model="addedItem.Description"
        required
      ></textarea>
    </label>
  </form>
</div>
<div class="modal-footer">
  <button ng-click="save()" type="submit" class="btn btn-primary" ng-if="mode">
    Save
  </button>
  <button ng-click="close()" class="btn btn-danger">Close</button>
</div>
